<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ .Title }} | {{ if .IsHome }} {{ .Site.Params.Subtitle }} {{ else }} {{ .Site.Title }}  {{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }} {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }} 
      {{ partial "sidebar.html" . }} 
    {{ end }}
    {{ partial "css-font.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>
